{% extends "layout.html" %}

{% block title %}
    Buy
{% endblock %}

{% block main %}
    <form action="/buy" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="symbol" placeholder="Symbol (e.g. AAPL)" type="text">
        </div>
        <div class="form-group">
            <input autocomplete="off" class="form-control" min="1" name="shares" placeholder="Shares" type="number">
        </div>
        <button class="btn btn-primary" type="submit">Buy</button>
    </form>
{% endblock %}

UPDATE users SET cash = 10000;
ALTER TABLE stocks ADD time TEXT NOT NULL;