{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Shares</th>
                <th>Price</th>
                <th>Transacted</th>
            </tr>
        </thead>
        <tbody>
            {% for transaction in DATA %}
                <tr>
                    <td>{{ transaction["name_stock"] }}</td>
                    <td>{{ transaction["quantity"] }}</td>
                    <td>{{ transaction["PPS"] | usd }}</td>
                    <td>{{ transaction["time"]}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}